:root {
  --label-color: #172b4d;
  --input-border-color: #0079bf;
  --border-icon-star-color: #c3be0e;
  --background-button-color: #5aac44;
  --background-signup-color: #f4f5f7;
  --background-header-color: #58595a;
  --background-card-icon-create-color: #f0f2f5;
  --background-create-new-label: rgba(9, 30, 66, 0.04);
  --background-new-board-color: rgba(63, 63, 63, 0.8);
  --background-detele-card: rgba(235, 90, 70, 0.5);
  --background-button-urgent: #eb5a46;
  --background-building: #ebecf0;
  --background-option: #e4f0f6;
  --white-color: #ffffff;
  --green-color: #4bbf6b;
  --carmine-color: #b04632;
  --dark-blue-color: #344563;
  --light-blue-color: #0aaecb;
  --orange-color: #d29034;
  --orange-edit-color: #ff9f1a;
  --purple-color: #89609e;
  --light-purple-edit-color: #c377e0;
  --pink-color: #cd5a90;
  --yellow-color: #f2d600;
  --gray-color: #838c90;
  --light-gray-color: #b3bac5;
  --grass-green-color: #519839;
  --secundary-color: #999b9e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--label-color);
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-header-color);
}

input {
  width: 224px;
  height: 32px;
  background: var(--white-color);
  border-color: var(--input-border-color);
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 3px;
}

a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--input-border-color);
  text-decoration: none;
}

button {
  width: 77px;
  height: 32px;
  background: var(--background-button-color);
  border-radius: 3px;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--label-color);
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-content {
  width: 412px;
  height: 532px;
}
