.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--white-color);
}
.logo--color2 {
  color: var(--secundary-color);
  padding-right: 6px;
}
